<div class="hero">
<div class="home-logo"> &nbsp</div>
<div style="clear"></div>
  <p class="small brandon" style="color: white;">LAUNCHING SOON, a Travel Rewards company like nothing you’ve ever seen before. We’re awarding trips to amazing destinations around the World.</p>
<div class="form-wrap clearfix <%= "ended" if Rails.application.config.ended %>">
  <% if Rails.application.config.ended %>
    <%= render "users/campaign_ended" %>
  <% else %>
    <%= render "users/campaign_ongoing" %>
  <% end %>
</div>
</div>