$blue: #3e89cc;
$white: #fff;
$red: #c9302c;
$blue2: #98d6f9;
$referheader: #597ed8;
$grey1: #f3f3f3;
$circle: #b7cce2;

body.home {
  background: $blue;
  color: $white;
  background: -webkit-linear-gradient($blue, $blue2); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient($blue, $blue2); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient($blue, $blue2); /* For Firefox 3.6 to 15 */
  background: linear-gradient($blue, $blue2);
	.navbar-no-background {
		background: none;
		border: none;
		color: #fff;
	}

	.logo {
		display: block;
		margin-top: 20px;
	}
}

.navbar {
	margin-bottom: 0px;
}

.form-member {
	text-align: center;
	margin-top: 35%;
}

header.header-home .navbar-default .navbar-nav > li > a {
	color: #fff;
}

header.header-home .navbar-default .navbar-nav > li > a:hover {
	color: #fff;
}

header.header-home {
	background: url('/assets/bg-big.png');
	background-size: cover;
	background-position: center;
	height: 748px;
	background-repeat: no-repeat;
}

.member-input {
	padding: 10px 0px 30px 0px;
}

.form-control.email-member {
	border: 1px 0px 1px 1px solid $red;
	height: 35px;
	&:focus {
   border-color: $red;
	}
}
.content-benefit {
	img {
	  height: 230px;
	}
}

section.info { 
  margin-top: 30px;

	.info-content {
	  text-align: center;
		img {
		  margin: auto;
		  &.partner {
		    width: 100px;
		    margin: 15px 0px;
		  }
		  &.benefit {
		    width: 75px;
		    margin-bottom: 5px;
		  }
		  &.community {
		    width: 100px;
		  }
		}
		p {
		  font-size: 11px;
		}
	}
}

.content-benefit {
	position: relative;
	box-sizing: border-box;
  margin-top: 10px;
  img {
    margin: auto;
  }
	h4 {
    position: relative;
    background: rgba(62, 152, 204, 0.8);
    padding: 5px;
    top: 39px;
    left: 0px;
    text-align: center;
	}
	a.btn {
		position: relative;
		bottom: 50px;
		width:100px;
		display: block;
		margin: auto;
	}
}

.info-box {
	margin-top: 50px;
}

.text-info {
	margin-top: 50px;
	text-align: center;
	color: #000;
	font-size: 20px;
  a {
    color: #000;
    text-decoration: underline;
  }
}

.unparraled-box {
	margin-top: 50px;
	p {
	  margin: 20px 0px;
	}
}

footer {
	.footer {
		min-height: 100px;
		background: rgba($blue, 0.7);
		width: 100%;
		text-align: center;
	}
	color: $white;
}


footer.footer-home {
	position: relative;

	.footer {
		min-height: 100px;
		background: rgba($blue, 0.7);
		width: 100%;
		position: absolute;
		bottom: 0px;	
		text-align: center;
	}
}

.footer-section {
	margin-top: 50px;
	background: url('/assets/bg-second.png');
	background-size: cover;
	background-position: center;
	height: 487px;
	text-align: center;
}

.footer-menu {
  margin-top: 10px;
  display: inline-block;
  color: #fff;
  li {
    a {
      color: $white;
    }
  }
}
.footer-menu li{
  float: left; 
  width: auto;
  margin-left: 10px;
  position: relative;
}
.ico-social {
	img {
	  margin-right: -10px;
	}
}

.form-new-member {
	margin-bottom: 10px;
}

.form-new-member h2 {
	text-align: center;
}

.navbar-white {
	background: #fff;
	.logo {
	  img {
	    width: 100px;
	  }
	}
}

.error {
	color: $red;
}

.login-box {
	padding: 30px;
	border: 1px solid #ddd;
	border-radius: 10px;
	margin-top: 20px;
	margin-bottom: 50px;
}

.refer-header {
	background: $referheader;
	text-align: center;
	padding-top: 20px;
	padding-bottom: 20px;
	color: $white;
	span.big-text {
	  font-weight: bold;
	  font-size: 18px;
	}
}

.refer-right h3 {
	position: absolute;
	width: 100%;
	text-align: center;
	top: 0px;
	color: $white;
}

.refer-left {
	color: #2e4d68;
}

.refer-content {
	background: $grey1;
}

.progress {
	height: 5px;
	border-top: 1px solid #ddd;
}

.borderless td, .borderless th {
    border-top: none !important;
}
.no-padding {
	padding: 0px !important;
}

.circle {
    width: 60px;
    height: 60px;
	padding: 20px;
	text-align: center;
	border-radius: 50%;
	background: $circle;
	margin: auto;
}

.circle:hover {
	cursor: pointer;
}

.td-circle {
	width: 15%;
	text-align: center;
}

.refer-text {
	text-align: center;
}
.refer-award {
	margin-top: 50px;
}

.circle.active {
	background: $blue;
}